.App{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: red;
  max-width: 400px;
  min-height: 500px;
  color: white;
  padding: 2rem;
  margin: 5rem;

}

section{
  background-color: black;
  padding: 2rem;
  border-radius: 16px;
}